@use '@scss/colors' as *;

.MeetFrey {
    h2 {
        font-size: 1rem;
    }

    p {
        color: $light-grey;
    }

    img {
        width: 100%;
    }

    .meet-frey {
        .PageLink {
            padding-top: 2px;
        }
    }

    .explore-cre {
        position: relative;
        display: inline-block;
        .PageLink {
            position: absolute;
            left: 2.5%;
            bottom: 5%;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        svg {
            margin-top: 2px;
        }
    }
}
