@use '@scss/colors' as *;

.MeetFrey {
    h2 {
        font-size: 1rem;
    }

    p {
        color: $light-grey;
    }

    .meet-frey-link {
        display: inline-block;

        .PageLink {
            padding-top: 2px;
        }
    }
}
