.sr-only {
    position: absolute;
    size: 0px;
    clip-path: inset(50%);
}

.rotating-text {
    display: inline-block;
    opacity: 0;
}

.rotating-text::after {
    content: attr(data-text);
}

.rotating-imgs-grid {
    display: grid;
    position: relative;
    width: max-content;
    align-items: end;
}

.main-img {
    grid-area: 1 / 1;
    padding: 15px 10px 15px 50px;
    width: 600px;
    height: auto;
    opacity: 0;
    z-index: 0;
}

.stack-img {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    width: 150px;
    height: auto;
    opacity: 0;
    z-index: 1;
}

.img-1 {
    top: 8px;
    left: 25px;
    justify-self: start;
}

.img-2 {
    top: 12px;
    justify-self: start;
}

.img-3 {
    top: 12px;
    justify-self: end;
}

@media (width < 600px) {
    .main-img {
        width: 400px;
    }

    .stack-img {
        width: 100px;
    }
}

@media (width < 450px) {
    .main-img {
        width: 300px;
    }

    .stack-img {
        width: 75px;
    }
}

.slide-fade-in {
    animation: slideFadeIn 500ms ease-in-out forwards;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-fade-out {
    animation: slideFadeOut 500ms ease-in-out forwards;
}

@keyframes slideFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
    }
}