.sr-only {
    position: absolute;
    size: 0px;
    clip-path: inset(50%);
}

.rotating-text {
    display: inline-block;
    animation: slideFade 3s ease-in-out infinite;
}

.rotating-text::after {
    content: attr(data-text);
}

.rotating-imgs-grid {
    display: grid;
    position: relative;
    width: max-content;
    align-items: end;
}

.main-img {
    grid-column: 1;
    grid-row: 1;
    padding-left: 75px;
    width: 600px;
    height: auto;
    z-index: 0;
}

.stack-img {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    width: 150px;
    height: auto;
    z-index: 1;
}

/* Offset each stacked image */
.img-1 {
    left: 50px;
    top: 8px;
}

.img-2 {
    left: 25px;
    top: 12px;
}

.img-3 {
    top: 16px;
}

@media (width < 600px) {
    .main-img {
        width: 400px;
    }

    .stack-img {
        width: 100px;
    }
}

@media (width < 450px) {
    .main-img {
        width: 300px;
    }

    .stack-img {
        width: 75px;
    }
}

@keyframes slideFade {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    35% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    45% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(0px);
        opacity: 1;
    }
    75% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.slide-fade-in {
  animation: slide-fade-in 3s ease-in-out forwards;
}

@keyframes slide-fade-in {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    35% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    45% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slideFadeOut {
  animation: slideFadeOut 3s ease-in-out;
}

@keyframes slideFadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(0px);
        opacity: 1;
    }
    75% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}
