.rotating-text {
    display: inline-block;
    opacity: 0;
    &::after {
        content: attr(data-text);
    }
}

.rotating-imgs-grid {
    display: grid;
    position: relative;
    width: max-content;
    align-items: end;
    margin: 15px 10px 15px 60px;
    .desktop-img {
        grid-area: 1 / 1;
        width: 600px;
        aspect-ratio: 1.39/1;
        height: auto;
        opacity: 0;
        z-index: 0;
    }

    .mobile-img,
    .mobile-menu-img,
    .shop-module-img {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        width: 150px;
        height: auto;
        opacity: 0;
        z-index: 1;
    }

    .mobile-img {
        top: 7.5px;
        right: 30px;
        justify-self: start;
    }

    .mobile-menu-img {
        top: 15px;
        right: 60px;
        justify-self: start;
    }

    .shop-module-img {
        left: 10px;
        top: 10px;
        justify-self: end;
    }

    @media (max-width: 1100px) {
        .desktop-img {
            width: 400px;
        }

        .mobile-img,
        .mobile-menu-img,
        .shop-module-img {
            width: 100px;
        }
    }

    @media (max-width: 776px) {
        .desktop-img {
            width: 350px;
        }

        .mobile-img,
        .mobile-menu-img,
        .shop-module-img {
            width: 93.75px;
        }
    }

    @media (max-width: 450px) {
        .desktop-img {
            width: 250px;
        }

        .mobile-img,
        .mobile-menu-img,
        .shop-module-img {
            width: 65.2px;
        }
    }

    @media (max-width: 350px) {
        .rotating-imgs-grid {
            margin: 20px;
        }

        .desktop-img {
            width: 225px;
        }

        .mobile-img,
        .mobile-menu-img,
        .shop-module-img {
            width: 56.25px;
        }

        .mobile-img {
            right: 15px;
        }

        .mobile-menu-img {
            right: 30px;
        }

        .shop-module-img {
            right: 5px;
        }
    }
}

.slide-fade-in {
    animation: slideFadeIn 500ms ease-in-out forwards;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-fade-out {
    animation: slideFadeOut 500ms ease-in-out forwards;
}

@keyframes slideFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
    }
}
