@use '../../../../scss/colors/' as *;

.mobile-menu {
    width: 40px;
    height: 40px;
    border: 1.5px solid $icon-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
    background-color: none;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 1.5px;
        transform: rotate(0deg);
        background-color: $icon-blue;
        position: absolute;
    }

    &::before {
        box-shadow: 0 -8px $icon-blue;
    }

    &::after {
        box-shadow: 0 8px $icon-blue;
    }
}

.mobile-menu-open {
    &::before {
        animation: beforeStart 500ms linear 0s normal forwards;
    }

    &::after {
        animation: afterStart 500ms linear 0s normal forwards;
    }
}

@keyframes beforeStart {
    0% {
        box-shadow: 0 -8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(45deg);
    }
}

@keyframes afterStart {
    0% {
        box-shadow: 0 8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(-45deg);
    }
}

.mobile-menu-close {
    &::before {
        animation: beforeEnd 500ms linear 0s reverse forwards;
    }

    &::after {
        animation: afterEnd 500ms linear 0s reverse forwards;
    }
}

@keyframes beforeEnd {
    0% {
        box-shadow: 0 -8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(45deg);
    }
}

@keyframes afterEnd {
    0% {
        box-shadow: 0 8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(-45deg);
    }
}
