@use '../../../../scss/colors/' as *;

.mobile-menu {
    width: 40px;
    height: 40px;
    border: 1.5px solid $icon-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 1.5px;
        transform: rotate(0deg);
        background-color: $icon-blue;
    }

    &::before {
        box-shadow: 0 -8px $icon-blue;
    }

    &::after {
        box-shadow: 0 8px $icon-blue;
        position: absolute;
    }
}

.mobile-menu-open-anim {
    &::before {
        animation: mobileMenuBefore 1s linear 0s 1 normal forwards;
    }

    &::after {
        animation: mobileMenuAfter 1s linear 0s 1 normal forwards;
    }
}

.mobile-menu-close-anim {
    &::before {
        animation: mobileMenuBefore 1s linear 0s 1 reverse forwards;
    }

    &::after {
        animation: mobileMenuAfter 1s linear 0s 1 reverse forwards;
    }
}

@keyframes mobileMenuBefore {
    0% {
        box-shadow: 0 -8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(45deg);
    }
}

@keyframes mobileMenuAfter {
    0% {
        box-shadow: 0 8px $icon-blue;
    }
    25% {
        box-shadow: 0 0px $icon-blue;
    }
    75% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 0 0px $icon-blue;
        transform: rotate(-45deg);
    }
}
