@use '@scss/colors' as *;

.header {
    height: 80px;
    grid-template-columns: 4fr 1fr;
    h1 {
        a {
            line-height: 24px;
        }
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    background: #fff;
    color: #000;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    transition: top 0.2s ease;
    &:focus {
        top: 0;
    }
}
