@use '@scss/colors' as *;

.explore-cre-link {
    position: relative;
    display: inline-block;

    &:hover .PageLink {
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
        svg path {
            stroke: $white;
        }
    }

    div {
        position: absolute;
        left: 2.5%;
        bottom: 5%;
    }

    img {
        height: auto;
        width: 100%;
    }
    
    svg {
        margin-top: 2px;
    }
}

