@use '@scss/colors' as *;

.link {
    position: relative;
    display: inline-block;

    &:hover {
        & > span {
            &::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        svg path {
            stroke: $white;
        }
    }

    & > span {
        position: absolute;
        left: 2.5%;
        bottom: 5%;

        @media (min-width: 700px) {
            transform: scale(1.25);
            transform-origin: top left;
        }
    }

    img {
        display: block;
        height: auto;
        width: 100%;
    }
}
